<a target="_blank" href="#" class="card min-2">
  <div class="content-card-new">
    <div class="img-container img-square">
      <img src="assets/images/bg.png" />
    </div>
    <div class="text-container container flex-column gap-5">
      <div class="container flex-row between">
        <p class="description tag"></p>
        <p class="description date"></p>
      </div>
      <div class="container flex-column gap-5">
        <p class="product-title"></p>
        <p class="small description-text"></p>
      </div>
    </div>
  </div>
</a>
