footer {
  background: var(--IBF-dark-cream);
  color: var(--IBF-green);
}

ul {
  list-style: none;
}

footer a {
  width: fit-content;
}

footer a:hover {
  color: var(--IBF-pink);
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Tablet styles */
@media (max-width: 1076px) {
  .grid-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile styles */
@media (max-width: 636px) {
  .grid-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
