<div class="container flex-column gap-1">
  <div class="container faq-item flex-column">
    <div class="container flex-row between a-i-center">
      <h3></h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="52"
        viewBox="0 0 52 52"
        fill="none"
      >
        <rect
          x="52"
          width="52"
          height="52"
          rx="26"
          transform="rotate(90 52 0)"
          fill="#F6F2F0"
        />
        <path
          d="M26 16.6629L26 35.3296L34 27.3296M26 35.3374L18 27.3374"
          stroke="#0C331F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="answer container flex-column gap-25">
      <p></p>
      <a></a>
    </div>
  </div>
</div>
